@use '../global-variables' as gv;

main {
  background-color: gv.$bkg-color;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  color: gv.$dark-color;
}

.anchor {
  padding-top: gv.$header-height;
  margin-top: calc(-1 * gv.$header-height);
}
