@use '../global-variables' as gv;

html {
  scroll-behavior: smooth;
}

main {
  background-color: gv.$bkg-color;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  color: gv.$dark-color;
}

.anchor {
  padding-top: gv.$header-height;
  margin-top: calc(-1 * gv.$header-height);
}

#Header-Spacer {
  min-height: gv.$header-height;
  position: relative;
}