@use '../global-variables' as gv;

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: gv.$footer-height;
  background-color: gv.$secondary-color;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 3.2fr 5fr 2fr;
  overflow-y: hidden;

  .logos {
    display: flex;
    padding-left: 4%;
    justify-content: space-between;
    align-items: center;
  }

  #left-white-border {
    margin-left: 5%;
    width: 100%;
    height: 70%;
    border-left: solid 5px white;
  }
}