.card-holder {
	margin-left: 10vh;
  margin: 2vh 10vh 0 10vh;
  border: 0.75vw solid #2d2d2d;
  border-radius: 1vw;
  width: 30vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-counter {
  font-size: 10vh;
  font-weight: 700;
}

.trees-planted-label {
  display: inline;
}